body{
    background-color: lightyellow;
    text-align: center;  
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    position: relative;
    display: inline-block;
    margin: 40px;
}
.box1{
    background-color: magenta;
    height: 120px;
    width: 120px;
    animation-name: xy1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes xy1 {
    100%{
        transform: skewX(30deg);
    }
}
.box2{
    background-color: grey;
    height: 120px;
    width: 120px;
    top: 57px;
    animation-name: yz1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes yz1 {
    100%{
        transform: skewX(-30deg);
    }
}
.box3{
    background-color: orangered;
    height: 120px;
    width: 120px;
    top: 98px;
    animation-name: zx1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes zx1 {
    100%{
        transform: rotate(180deg);
    }
}


.fi4{
    background-color: magenta;
    height: 120px;
    width: 120px;
    top: 132px;
    animation-name: xz1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes xz1 {
    100%{
        height: 45px;
    }
}
.se4{
    background-color: gray;
    height: 120px;
    width: 120px;
    top: 132px;
    animation-name: xz2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
}
@keyframes xz2 {
    100%{
        width: 60px;
    }  
}
.th4{
    background-color: orangered;
    height: 120px;
    width: 120px;
    top: 132px;
    animation-name: xz3;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    
}
@keyframes xz3 {
    20%{
        transform: rotate(180deg);
    } 
    80%{
        transform: rotate(-180deg);
    } 
}
.page2{
        display: flex;
        justify-content: center;
        align-items: center;
}
.box4{
    background-color: mediumspringgreen;
    height: 120px;
    width: 120px;
    transition: width 2s ease-out;
}
.box4:hover{
    width: 250px;
}
.box5{
        background-color: mediumspringgreen;
        height: 120px;
        width: 120px;
        transition: transform 2s ease-out;
        top: 250px;
}
.box5:hover{
    transform: scale(3,3);
}
.b1{
    top: 400px;
    transition: width 3s linear;
    
}
.b2{
    top: 550px;
    transition: width 3s ease;
}
.b3{
    top: 700px;
    transition: width 3s ease-in;
}
.b4{
    top: 850px;
    transition: width 3s ease-out;
}
.b5{
    top: 1000px;
    transition: width 3s ease-in-out;
}
.heading{
    text-align: center;
}
.page{
   background-image: url(./sky.jpg);
   width: 100%;
   height: 550px;
   top: 0px;
}
.city{
    position: relative;
    top: 231px;
    width: 100%;
    animation-name: city;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes city {
    100%{
        transform: translateX(-50px);
    }
}
.road{
    position: relative;
    top: 220px;
    height: 150px;
    animation-name: road;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes road {
    100%{
        transform: translateX(-50px);
    }
}
.car{
    width: 311px;
    height: 119px;
    position: relative;
    margin-left: 232px;
    top: 33px;
}
.wheel1{
    width: 65px;
    height: 65px;
    position: relative;
    margin-left: -292px;
    top: 43px;
    animation-name: wheel;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes wheel {
    100%{
        transform: rotate(360deg);
    }
}
.wheel2{
    width: 65px;
    height: 65px;
    position: relative;
    margin-left: 123px;
    top: 42px;
    animation-name: wheel;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes wheel {
    100%{
        transform: rotate(360deg);
    }
}
.sun{
    width: 100px;
    height: 100px;
    position: absolute;
    margin-left: 159px;
    top: 88px;
    animation-name: sun;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@keyframes sun {
    100%{
        transform: translateX(50px);
    }
}
.flag{
    width: 35px;
    height: 32px;
    position: absolute;
    margin-left: -25px;
    top: 555px;
}







